body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 15px 15px 10px;
    color:white;
    background-color: darkgreen;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    justify-items: center;
}

#start {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#clearscore {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    justify-content: space-evenly;
}

#start:hover, #clearscore:hover {
    color: #ffffff;
    background: #4CBB17;
}

.answer li:hover {
    background-color: #4CBB17;
    width: 40%;  
}

#highscore-text {
    padding: 10px;
    background: lightgray;
}