body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 15px 15px 0;
    color:black;
}

header a {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

div.quiz-container {
    align-items: center;
}

a:link, a:visited {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

#start, #goback, #clearscore{
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#start:hover, #goback:hover, #clearscore:hover {
    color: #ffffff;
    background: #4CBB17;
}

.answer li:hover {
    background-color: #4CBB17;  
}