body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.container{
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
}
  
.welcome{
    margin-bottom: 20px;
}

header {
    padding: 15px 15px 15px 0;
    color:black;
}

a:link, a:visited {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

nav p {
    float: right;
}

#startbtn, #highscorebtn {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#startbtn:hover {
    color: #ffffff;
    background: #4CBB17;
}